<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApplicationTitle" value="Hyperlinks Manager"/>
    <add key="RegistryPath" value="Software\CygSoft\HyperlinksManager"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
